div {
    width: 400px;
    height: 300px;
}

ul {
    list-style-position: inside;
    list-style-type: none;
}

img {
    width: 100%;
}

h1 {
    font-family: Arial;
    font-size: 40px;
    color: white;
}

h2 {
    font-family: Arial;
    font-size: 30px;
    color: blue;
}

a {
    font-family: Arial;
    font-size: 20px;
    text-decoration: none;
    color: blue;
}

section {
    color: black;
    width: 400px;
    height: 300px;
    background-image: url("https://s-media-cache-ak0.pinimg.com/564x/77/29/b8/7729b8dae83a6832dd0b5300b5ba829e.jpg");
}
section p {
    color: yellow;
}
section h2 {
    color: white;
}

nav a {
    color: orange;
    height: 20px;
    width: 120px;
    background-color: gray;
}

header {
    color:green;
    background-color: yellow;
    height: 40px;
    width: 500px;
}

body {
    background-image: url("http://www.pageresource.com/wallpapers/wallpaper/black-cat-blue-eyes.jpg");
    height: 100%;       
}

#footer {
    height: 20%;
    width: 100%;
    color: white;
    display: block;
    background-color: red;
}

img {
   width: 100%;
}


